ANTHROPIC_API_KEY=#add your key from https://console.anthropic.com/settings/keys
WANDB_API_KEY=#add your key from https://wandb.ai/authorize

#Optional
OPENAI_API_KEY=#add your key from https://platform.openai.com/api-keys


